<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    Copyright © 2021 <%= link_to "Donate Me", root_path, class: "text-decoration-none text-dark fw-bold" %>
    Design by <%= link_to "K. Cheng", 'https://github.com/kaycheng', class: "text-decoration-none text-dark fw-bold", target: "_blank" %>
  </div>
</footer>