<h1 class="heading">Have you prepared money?</h1>
<h2 class="subtitle">It's time to add value to faith.</h2>

<%= link_to "#", class: "btn btn-danger fw-bold" do %>
  Deposite &nbsp; <i class="ml-2 fas fa-money-check-alt"></i>
<% end %>

<%= link_to "About Us", "#", class: "btn btn-outline-danger fw-bold" %>
