<h1 class="heading">Have you already prepared money?</h1>
<h2 class="subtitle">It's time to add value to faith.</h2>

<%= link_to "DEPOSIT", "#", class: "btn btn-danger fw-bold" %>
<%= link_to "About Us", "#", class: "btn btn-outline-danger fw-bold" %>
