<h1 class="heading">Have you prepared money?</h1>
<h2 class="subtitle">It's time to store the value of trust.</h2>

<%= link_to "Store Money", "#", class: "btn btn-danger fw-bold" %>
<%= link_to "About", "#", class: "btn btn-outline-danger fw-bold" %>
